[2017-09-19 18:39] sgoehringer opened #1 "Don't Need Scores"
This shouldn't be needed.

        "scores":
        {
            "score":
            {
                "label": "Limited"
            }
        },

https://github.com/clingen-data-model/data-exchange-shared-json/blob/87fa6290e08a78d16eb022a487a1c8254dd1603e/json-structure-phase1/Gene%20Curation%20Interface/gci.json#L35

[2017-09-19 19:34] sgoehringer opened #2 "Defining = "statusPublishFlag""
"statusPublishFlag" Options
publish - Display on the website(Q1)
unpublish - Remove it currently on the website

Q1 - We need to confirm what happens when provisional curation is sent to the website with 'publish' as the flag IF it should trump all existing curations with the same ID, even if Expert Approved.  It seems that should be the policy because it provides the curator methods to potentiall

[2017-09-19 19:39] sgoehringer opened #3 "Defining = "statusFlag""
"statusFlag" Options
in-process - The curation is in the works
provisional - Fits all of the criteria but not yet expert approved
approved - Expert curated

The above status flags show where a curation is/was in the curation process.

https://github.com/clingen-data-model/data-exchange-shared-json/blob/87fa6290e08a78d16eb022a487a1c8254dd1603e/json-structure-phase1/Gene%20Curation%20Interface/gci.j

[2017-09-19 19:40] sgoehringer opened #4 "Remove = "status": "????","
"status": "????",

This doesn't seem to be needed.

https://github.com/clingen-data-model/data-exchange-shared-json/blob/87fa6290e08a78d16eb022a487a1c8254dd1603e/json-structure-phase1/Gene%20Curation%20Interface/gci.json#L7

[2017-09-19 19:40] sgoehringer opened #5 "Remove = "scores":"
This shouldn't be needed.

        "scores":
        {
            "score":
            {
                "label": "Limited"
            }
        },

https://github.com/clingen-data-model/data-exchange-shared-json/blob/87fa6290e08a78d16eb022a487a1c8254dd1603e/json-structure-phase1/Gene%20Curation%20Interface/gci.json#L35

[2017-09-19 19:41] sgoehringer commented on #1
DUP - Removed

[2017-09-19 19:41] #1 closed, assigned to nobody

[2017-09-19 19:44] sgoehringer opened #6 "Defining = "CurationGroup":"
"CurationGroup":
        {
            "Id": "GCWGid1",
            "Name": "Cardiovascular - Aortopathy"
        },

We need to define an appropriate ID schema for the curation group to use.  This would be used by the GCI and the website to be able to appropriately match work.  The website may not need the name but might as well share it so it is easier to confirm matches and structure.

[2017-09-19 19:46] sgoehringer opened #7 "Defining = "jsonMessageVersion":"
"jsonMessageVersion": "GCI.1",

I am open to ideas on the best way to handle the message versioning.  The goal is simply be able to know how to process the JSON structure if it changes for some reason.

[2017-09-19 19:47] selinad commented on #7
@sgoehringer did we discuss using date/timestamps at some point, or is this in addition?

[2017-09-19 19:47] sgoehringer opened #8 "Defining "curationVersion""
"curationVersion": "1",

Share the specific version of the curation, timestamp, or some other number that is growing.  This ensure that the website uses the most recent version of the curation if two sent at the same time and for some reason each the DataExchange at out of order (not likely but just to be safe).

[2017-09-19 19:49] sgoehringer opened #9 "Defining = "conditions":"
"conditions":
        [
            {
                "ontology": "OMIM",
                "curie": "OMIM:114480",
                "name": "BREAST CANCER ",
                "uri": "OMIM114480",
                "iri": "http://purl.obolibrary.org/obo/OMIM_114480"
            }
        ],

Jimmy, when you have a chance can you list the different ontologies that you expect to be sharing just so we are

[2017-09-19 19:51] sgoehringer commented on #7
This would be for curationVersion.  I created an issue here https://github.com/clingen-data-model/data-exchange-shared-json/issues/8

[2017-09-19 19:55] jimmyzhen commented on #6
The ClinGen GCI currently does not have **CurationGroup** defined, but we have talked about a light implementation of groups in which the curators belong.

[2017-09-19 19:57] sgoehringer commented on #6
Great point!  Matt seemed like he was thinking about this... should I circle up with him and work options?

[2017-09-19 19:59] selinad commented on #9
@sgoehringer -- for disease, the following terminologies are possible:

1. Orphanet
2. DO
3. OMIM
4. NCIt
5. free text term associated with one or both of following: HPO term(s), free text description

Note: 1-4 must be IDs that exist in MonDO (and, apologies, 5 is not a terminology ;-))

[2017-09-19 20:00] jimmyzhen commented on #6
Sounds good.

[2017-09-19 20:01] sgoehringer commented on #6
Matt, I just assigned this to us as a reminder to follow up about possible ideas/solution on how to handle groups.

[2017-09-19 20:11] jimmyzhen commented on #9
What @selinad said.

Is the **conditions** array meant to represent all diseases associated with all the evidence in the approved classification?

FYI, the **iri** object property is not currently defined in GCI, and so we need to update the schema and patch all the production disease records.

[2017-09-19 20:29] sgoehringer commented on #9
Yes, the conditions array may be many... so (and by the way, the following simply my adding fake Orphanet data)

"conditions":
[
{
"ontology": "OMIM",
"curie": "OMIM:114480",
"name": "BREAST CANCER ",
"uri": "OMIM114480",
"iri": "http://purl.obolibrary.org/obo/OMIM_114480"
},
{
"ontology": "Orphanet",
"curie": "Orpha:114480",
"name": "Orphanet's BREAST CANCER name",
"uri": "ORPHA114480",
"iri": "h

[2017-09-19 20:52] jimmyzhen commented on #9
@sgoehringer,

The identifier format we have now is **OMIM_114480** since I tried to avoid encoding special characters in the URIs and queries. Then I simply replaced the underscore instances with semicolons in the UI.

[2017-09-19 21:02] wrightmw commented on #6
@sgoehringer Hey Scott, sure... more than happy to liaise on this.

[2017-09-19 21:26] sgoehringer commented on #9
Thanks!  I will check into some things.

[2017-09-26 19:49] ronakypatel opened #10 "Changes to scores from actionability."
I would recommend the following score structure, feel free to change the property names with your broader vision.

[code]

[2017-09-26 20:04] jimmyzhen opened #11 "Content of the 'title' property"
https://github.com/clingen-data-model/data-exchange-shared-json/blob/87fa6290e08a78d16eb022a487a1c8254dd1603e/json-structure-phase1/Gene%20Curation%20Interface/gci.json#L6

@sgoehringer,

This looks like a concatenation of HGNC gene symbol and disease term. Is it correct?

[2017-09-26 20:11] jimmyzhen commented on #3
@sgoehringer,

The GCI has the equivalent field, but does not yet support the value of "Approved."

The other values for this status are "In progress" and "Provisional" in our schema.

[2017-09-26 20:21] jimmyzhen opened #12 "Defining = "type""
https://github.com/clingen-data-model/data-exchange-shared-json/blob/87fa6290e08a78d16eb022a487a1c8254dd1603e/json-structure-phase1/Gene%20Curation%20Interface/gci.json#L10

Is this to indicate it is coming from the GCI?  We don't have a field like this at the moment, but you are already asking about the jsonMessageVersion, so would this be redundant?

[2017-09-26 20:39] jimmyzhen opened #13 "Defining = "tally" and "value""
https://github.com/clingen-data-model/data-exchange-shared-json/blob/87fa6290e08a78d16eb022a487a1c8254dd1603e/json-structure-phase1/Gene%20Curation%20Interface/gci.json#L56

@sgoehringer what does this value represent?  Is it the default score?

Also, is "value" the score the curator gave it?

thx!

[2017-09-26 20:43] jimmyzhen opened #14 "Defining = "pmid""
[code]

https://github.com/clingen-data-model/data-exchange-shared-json/blob/87fa6290e08a78d16eb022a487a1c8254dd1603e/json-structure-phase1/Gene%20Curation%20Interface/gci.json#L57

@sgoehringer where is the pmid #? (e.g. PMID:21345568) (totally made up) and what is the "uid"?

[2017-09-26 20:46] jimmyzhen opened #15 "Defining = "ProbandWithNon-LOF""
https://github.com/clingen-data-model/data-exchange-shared-json/blob/87fa6290e08a78d16eb022a487a1c8254dd1603e/json-structure-phase1/Gene%20Curation%20Interface/gci.json#L53

@sgoehringer -- would like to clarify these values -- for AD or X-linked, there are 3 choices in the table, is this one?

[2017-09-26 21:48] jimmyzhen opened #16 "Defining = "AutosomalDominantDisease""
[code]

https://github.com/clingen-data-model/data-exchange-shared-json/blob/87fa6290e08a78d16eb022a487a1c8254dd1603e/json-structure-phase1/Gene%20Curation%20Interface/gci.json#L51

@sgoehringer,

Couple of things in regards to the **"AutosomalDominantDisease"** object:
1. The object key appears to be dynamic depending on what the mode of inheritance is and so the GCI application will need to gene

[2017-09-27 13:39] sgoehringer commented on #13
@jimmyzhen Correct, the value is what the curator assigned (ie, Variant is de novo = 14).  But since the guidelines state the the max score for Variant is de novo is 12 the tally would be sent as 12. IF the Variant is de novo was curated as 6 the tally would be sent as 6 because it is less than the max score.  This is also helpful in the areas where two values need to be add into a single tally (w

[2017-09-27 13:40] sgoehringer commented on #14
@jimmyzhen Sorry, the PMID is the uid... would you like that to be updated?  That isn't a problem and it would be clearer.

[2017-09-27 13:54] sgoehringer commented on #11
@jimmyzhen That is how it has been constructed to date.  Since some of the curations had multiple conditions with different names we allowed curators to generate their own title to allow them the control.  Do you have a concept of a human readable title or label of a curation in the DB? No it totally fine, I was just curious.  If not, as you said, if could be the concatenation of the HGNC and dise

[2017-09-27 14:01] sgoehringer commented on #3
@jimmyzhen Great... do you expect the follow values being sent...

In process - The curation is in the works
Provisional - Fits all of the criteria but not yet expert approved
Approved - Expert curated

Are the definitions of the values reasonable with what you are thinking?  Also we are glad to change the value/label for 'approved' if you have a clearer concept.  I don't imagine additional ones a

[2017-09-27 15:10] tnavatar commented on #9
@selinad @jimmyzhen @sgoehringer

The IRI is the primary identifier for ontology terms on the website, if it's possible to incorporate it in the message it would be helpful and practical down the road, as the message becomes more linked-data friendly.

For the free-text case, would it be possible or reasonable for you to construct your own IRI for the label? (For example:
{
"iri": "https://curatio

[2017-09-27 16:53] tnavatar commented on #10
I think this makes sense, but would be an alteration of the structure of the message, and probably also the way actionability is represented on the site (see https://search.clinicalgenome.org/kb/genes/HGNC:6769) for an example.
It *should* be improved in this way, since this more nearly matches the structure of the underlying interpretation.

If Scott's OK with this (you might have the best sense

[2017-09-27 16:58] tnavatar commented on #12
There will be a topic in Kafka for gene curations, I'm going to process everything published to that topic as a gene curation, so 'type' in this instance is not strictly necessary.

Later on (phase 2), when we're modeling this with JSON-LD, almost everything gets tagged with a "@type" (https://json-ld.org if you're interested in wandering down that rabbit hole early).

[2017-09-27 17:40] tnavatar commented on #15
@sgoehringer --this field only affects how GCI data is displayed in the report table; I'm assuming that this just flags this as data for the AD/X-linked section, correct?

I'm not going to dig into this part of the message for the rest of the website, so this only affects the report table.

[2017-09-27 18:05] selinad commented on #11
Hi @sgoehringer -- what do you mean by "since some of the curations had multiple conditions with different names we allowed curators to generate their own tittle..." -- does this mean the titles don't always match the disease term?

We create titles for display by concatenating the HGNC symbol with the disease term text, but I believe we don't store it as a "title" ( @jimmyzhen can confirm)

[2017-09-27 18:09] selinad commented on #3
Hi @sgoehringer -- the above are correct (reasonable with what we are thinking).  @wrightmw may have the best idea -- I believe "Approved" works.

I can't think of additional ones at the moment unless we have to worry about one that has been removed or deleted? (a Classification, not a Gene:disease record).

[2017-09-27 18:13] sgoehringer commented on #11
Simply that diseases names for the conditions may be different (if you have more than one) and I wasn’t sure if the curators would want/could to choose a preferred condition to use as the condition name… maybe you simply prioritize one of them if multiple are provided.

OrphaNet: 91387 	= Familial thoracic aortic aneurysm and aortic dissection
OMIM:102620 	= AORTIC ANEURYSM, FAMILIAL THORACIC 6; A

[2017-09-27 18:21] selinad commented on #11
thx @sgoehringer.  We have only one disease associated with the record and it is a disease term from MonDO (OMIM, DO, Orphanet, or NCIt allowed).  We do allow OMIM associations, but that is not the gene:disease record condition.

[2017-09-28 13:10] sgoehringer commented on #15
@jimmyzhen I see the issue in the schema... how about something like this...  Feel free to revise  (Jimmy, sorry if GitHub spammed you... I was trying to get the indents right)

[code]

[2017-09-28 13:16] sgoehringer commented on #16
@jimmyzhen
Num2 - We are only imaging the JSON to objects that you have data... everything else we assume will be null so you don't need to share it.  I also thing some of the confusion is due to a legacy issue regarding the AR/X-link which I commented on in #15 (I just started on that one first)
Num1 - A schema update was commented on in issue #15

Let me know if I missed anything.

[2017-09-28 13:20] sgoehringer commented on #12
@jimmyzhen Tristan confirmed that the JSON will be submitted to a specific Kafka topic so it will be possible to track GCI data that way... but when the JSON leaves Kafka it would be helpful to tag is some how.  Granted, the iri would provide a hint and as you mentioned, we could provide a hint in the version.  Am I being too verbose by adding another element to the JSON?

[2017-09-28 13:23] sgoehringer commented on #10
@ronakypatel I like this structure!

@tnavatar We may not even need to change the organization on the page either, just change how we loop through the data to build the UI/UX.

[2017-09-29 00:41] jimmyzhen commented on #14
@sgoehringer I think that it will be clearer for **uid** to be renamed as **pmid**. But then its parent's parent is also named **pmid**. Is there another term more suitable?

[2017-09-29 00:53] jimmyzhen commented on #13
@sgoehringer It sounds like the **value** is the combined score of the same variant type and the **tally** is a computed value based on whether the combined score is less or greater than the max score.

[2017-09-29 01:06] jimmyzhen commented on #15
@sgoehringer I think this revision makes more sense to me now. Thank you.

[2017-09-29 01:18] jimmyzhen commented on #12
@tnavatar @sgoehringer Thank you both for the clarification on this **type** property. So we can probably close this Github issue since the property in question is not meant to be mapped any data in the GCI application.

[2017-10-02 14:08] ronakypatel commented on #10
Guys, we need to finalize this, so we can push it ahead.

[2017-10-02 14:10] sgoehringer commented on #10
I am 100% fine with your proposed structure.  I was going to update the schema.  @tnavatar any reason to disagree?

[2017-10-02 14:34] tnavatar commented on #10
Nope, happy to move forward on this.

[2017-10-02 18:15] sgoehringer commented on #16
Closing - https://github.com/clingen-data-model/data-exchange-shared-json/commit/60a162853115bef5df1e0a9cbe636c92177ad3bd#diff-ed6c7b92556a87f83ad6b2d46e58fcb4

[2017-10-02 18:15] #16 closed, assigned to sgoehringer

[2017-10-02 18:16] sgoehringer commented on #15
Closing - https://github.com/clingen-data-model/data-exchange-shared-json/commit/60a162853115bef5df1e0a9cbe636c92177ad3bd

[2017-10-02 18:16] #15 closed, assigned to sgoehringer

[2017-10-02 18:17] sgoehringer commented on #14
@jimmyzhen What do you think about 'evidence'?

[2017-10-02 18:20] sgoehringer commented on #14
the PMID portion of this discussion was addressed.  https://github.com/clingen-data-model/data-exchange-shared-json/commit/58804c71ab83ff2d9dc14b9b6749bd493937e61e

[2017-10-02 18:23] sgoehringer commented on #13
@jimmyzhen That sounds right!  Do you plan on sharing both values?

[2017-10-02 18:23] #12 closed, assigned to sgoehringer

[2017-10-02 18:32] sgoehringer commented on #11
@jimmyzhen Would it be possible to concatenating the HGNC symbol and the one disease term?

@selinad  This connected a few dots I didn't 100% appreciate.  Thank for clarifying! (-:  Thinking down the line a little, does that mean the website should display the equivalents set in the ontology or just display what the curator has selected?

[2017-10-02 18:36] sgoehringer commented on #10
Closing - https://github.com/clingen-data-model/data-exchange-shared-json/commit/b3f75a7649691f7cd69258ab335151ed46b4c7f4

[2017-10-02 18:36] #10 closed, assigned to tnavatar, sgoehringer

[2017-10-02 18:37] #8 closed, assigned to nobody

[2017-10-02 18:38] sgoehringer commented on #5
Closed - https://github.com/clingen-data-model/data-exchange-shared-json/commit/cabe9458f12cd57e930826f81a90bb4997655536

[2017-10-02 18:38] #5 closed, assigned to sgoehringer

[2017-10-02 18:39] #7 closed, assigned to nobody

[2017-10-02 19:35] selinad commented on #11
@sgoehringer that's a good question!  We may need to talk through that one as it seems like it is related to the search as well -- it's possible the equivalence set could change....

[2017-10-03 13:55] sgoehringer commented on #11
@selinad Yes, I agree... we have the 'knowledge' to consider making connections but should we and is it what curators are expecting?  And, to your point... the equivalence can change/evolve over time.  This could a fun discussion for the CSA (not this week) and provide some examples (if we can find them or make some up if needed) to illustrate the how it works.  Thoughts?  Glad to run with it if y

[2017-10-03 17:55] jimmyzhen opened #17 "Defining = "CuratorModifyCalculation""
[code]

@sgoehringer,

Do we actually need the "Yes"/"No" value?

Shall we provide the modified classification value for this if the curator selects an option? If not, we can set a `null` value to it.

[2017-10-03 17:58] jimmyzhen opened #18 "Defining = "ValidContradictoryEvidence""
[code]

@sgoehringer  Does this include proband and experimental evidence?  We calculate both on  the fly.  Or, is it only proband (genetic) contradictory evidence that gives this a yes value?

[2017-10-03 18:01] jimmyzhen opened #19 "PMID object in "ValidContradictoryEvidence""
[code]

Hi @sgoehringer,

Is there a reason for including the PMID in this object?

[2017-10-03 18:04] jimmyzhen opened #20 "Defining = "Summary""
[code]

@sgoehringer Can you clarify which are the **calculated classification** and **modified classification**? And what is **"CalculatedClassification": "CONFLICTING EVIDENCE REPORTED"**?

[2017-10-03 18:16] sgoehringer commented on #19
@jimmyzhen This was related to this ticket https://github.com/clingen-data-model/data-exchange-shared-json/issues/14#issuecomment-333619809

"What do you think about 'evidence'?"

[2017-10-03 18:17] sgoehringer commented on #17
That should be fine!

[2017-10-03 18:22] sgoehringer commented on #18
@jimmyzhen That is a good question... we ask the curator to check this off via our simple interface... I'm not exactly sure why the curator would have checked this.  Do we need to loop in a curator?

[2017-10-03 19:19] ronakypatel opened #21 "Disease names in gene-disease pairs"
In the AWG curated data, there is no place where name of diseases are captured for **each** OMIM. We **do** store OMIM identifiers but not the names associated with each of them. One can easily get the names from the identifiers, though.

Say for example: the gene-disease pairs given here (https://www.clinicalgenome.org/working-groups/actionability/projects-initiatives/actionability-evidence-based

[2017-10-03 19:30] selinad commented on #18
@sgoehringer I just took a look at the SOP and it looks like any type of contradictory evidence can contribute; however, I'll check with the curator as ours is a calculated value and the curator makes this choice when entering into your calculator.

[2017-10-03 19:42] sgoehringer commented on #21
We don't need the Disease name and we can remove that... the OMIM will be fine.

[2017-10-03 20:00] selinad commented on #11
Hi @sgoehringer -- do you mean consider making connections but should we and is it what **stakeholders** are expecting?  The curators pick the term knowing the equivalence set at the time.  I'm not sure how the equivalence sets stay up to date wrt the search.  Do you want to give me an example of what you mean for the CSA discussion -- always love new ideas and someone who will run with them :-)!

[2017-10-03 20:08] sgoehringer commented on #11
The equivalents data would be based from MONDO.  If we do this... I guess we just want to illustrate to the CSA and curators that if they choose OMIM1234 when curating, this curation will be displayed if a search for DOID321 is processed because an equivalence was provided by the ontology... and this equivalence could dynamically change so next week ORPHA987 match as well.  I would need to think a

[2017-10-03 20:11] sgoehringer commented on #21
Since we are on this topic... I wanted to inquire about one more item.  Does the interface associate DSC2⇔610476 with a specific intervention?  The following would be the example

DSC2⇔610476
Example Outcome 1 / Example Intervention A = Score ABC

DSG2⇔610193
Example Outcome 2 / Example Intervention B = Score XYZ

Both of the above would be associated to a single report like the one you referenced

[2017-10-03 20:19] ronakypatel commented on #21
No.

However, the gene might be. But in that case, the outcome will be named as

Gene1 - Outcome1 / Intervention 1
Gene2 - Outcome1 / Intervention 1

[2017-10-03 20:32] sgoehringer commented on #21
Okay, but if I understand things correctly... if this curation was done for "Gene1 & Gene2" and "OMIM1 & OMIM2" it isn't possible (or maybe it isn't necessary) to associate interventions with specific pairs?  I think this means the following would occur on a single curation.

Gene1 - "Outcome1 / Intervention 1" is connected to OMIM1 & OMIM2
Gene2 - "Outcome1 / Intervention 1" is connected to OMIM1

[2017-10-03 20:58] jimmyzhen commented on #14
Hi @sgoehringer,

**"evidence"** is a suitable term. Thanks.

[2017-10-03 21:00] jimmyzhen commented on #19
Thanks.

[2017-10-03 21:11] selinad commented on #18
@sgoehringer from the curators, we can use calculated value from interfaces as to whether there is contradictory evidence.

@jimmyzhen we don't collect contradicts for case-control right now -- we may need to add that in (waiting on curator feedback and will make ticket if needed).

[2017-10-04 00:02] wrightmw commented on #20
@sgoehringer
Thanks for your clarification on the call today. As I understand it:
"CalculatedClassification" is the Classification calculated from the scoring matrix
"CuratorClassification" is the Classification as selected by the curator (please confirm that this represents the "provisional" classification selected by the curator as ready be reviewed?)
"FinalClassification" is the Classification

[2017-10-04 15:26] sgoehringer opened #22 "Clarify OMIM Identifier"
@ronakypatel would it be possible to clarify the format of the OMIM identifier when you have a chance.

[2017-10-04 15:29] ronakypatel commented on #22
Does this sound good?

[code]

[2017-10-04 15:29] sgoehringer opened #23 "Clarify Disease/Condition Ontologies"
@ronakypatel Would it also be possible to list the disease/condition ontologies when you have a moment.  Sorry if I already asked this, I just want to be certain.

[2017-10-04 15:30] ronakypatel opened #24 "Gene Name -> Symbol?"
[code]

Should this be:

[code]

[2017-10-04 15:30] sgoehringer commented on #22
Great!

[2017-10-04 15:32] ronakypatel commented on #23
OMIM For disease in most case. As I mentioned in one of our conversation there is at least on disease i know that AWG curated but does not have OMIM.

[2017-10-04 15:36] sgoehringer commented on #14
Address - 8cf6e4b5ba67c0893a970c11b5628a974078a27a

[2017-10-04 15:36] #14 closed, assigned to nobody

[2017-10-04 15:37] sgoehringer commented on #24
Addressed - 53557c25bdccc5a0bc947c6104df14f3dfa0903e

[2017-10-04 15:37] #24 closed, assigned to nobody

[2017-10-04 15:38] sgoehringer commented on #22
Addressed - 53557c25bdccc5a0bc947c6104df14f3dfa0903e

[2017-10-04 15:38] #22 closed, assigned to sgoehringer

[2017-10-04 16:00] sgoehringer commented on #20
@wrightmw Thanks for the details... I am wrapping my head around this and had a few questions.  Also, for the case of this discussion lets use your fields (at least some of them) and lets assume we don't have any right or wrong answers... I just want to make sure I am following.

QuestionA: **autoClassification** - The value of this field is generated by the math/magic behind the scenes and is alw

[2017-10-04 16:02] sgoehringer commented on #23
@ronakypatel I recall that, yes... Regarding the one that doesn't have an OMIM ID...  It's not that the curation is connected to an 'unknown' condition, OMIM just doesn't have an appropriate ID at this time.  Is that correct?

[2017-10-04 16:04] sgoehringer commented on #19
Addressed - 8cf6e4b5ba67c0893a970c11b5628a974078a27a

[2017-10-04 16:04] #19 closed, assigned to nobody

[2017-10-04 16:06] sgoehringer commented on #11
@jimmyzhen I just wanted to circle back to your original question.  Yes, "concatenation of HGNC gene symbol and disease term"  Does this work?

[2017-10-04 16:06] ronakypatel commented on #23
Thats true

[2017-10-04 16:08] sgoehringer commented on #23
Out of curiosity... What do you allow them to do/choose in the interface now to move past this step?  Or maybe more to the point, what data do you expect to share, if any?

[2017-10-04 16:11] sgoehringer commented on #4
Addressed - 064635621a314e742d4b4f45eb6a42aff84c9646
9adff47043510f952ce39904b39779021d6496f7

[2017-10-04 16:11] #4 closed, assigned to sgoehringer

[2017-10-04 16:14] sgoehringer commented on #6
@wrightmw I am bring in some notes from an email exchange on Sept 28...

I agree with this alteration.

[2017-10-04 16:19] sgoehringer commented on #6
Addressed - 2da23a2d93e3638cf5f240c3ac29c99be1b36aaf and d15ad13bb58150bc3fe1be2889eb126ac46c965b

[2017-10-04 16:19] #6 closed, assigned to sgoehringer, wrightmw

[2017-10-04 16:48] sgoehringer opened #25 "Affiliation ID structure"
@wrightmw We probably need to start thinking about the naming/id convention for curation affiliations.  I don't think it should be as simple number like 1 or 2 or anything too random because it may be possible for the different curation tools auto generate something that is already used.

My sense is the affiliates would fall into the following general areas...
- Gene Curation
- Variant Curation (

[2017-10-04 16:50] wrightmw commented on #3
@sgoehringer FYI... sorry for only just seeing this:

Provisional - Fits all of the criteria but not yet expert approved
Approved - Expert curated

We have "In progress" not "In process"

[2017-10-04 16:58] sgoehringer commented on #3
Oh, that is fine... same concept though, right?

[2017-10-04 17:03] wrightmw commented on #3
@sgoehringer Yeah, same concept:
In progress - The curation is in the works
Provisional - Curation has signed off on it and it is ready for review
Approved - It's been expert reviewed and signed off (by whoever has responsibility to approve for that Affiliation)

[2017-10-04 17:04] ronakypatel commented on #23
That's a great question. Here the document title will describe the disease.

[2017-10-04 17:49] wrightmw commented on #20
@sgoehringer Sure, let's work through these so that we are all sure of each other's Summary definitions.

AnswerA: Yes, "autoClassification" is entirely automatically generated by our algorithm behind the scenes, and would always be expected in our output to you.

AnswerB: Yes, "alteredClassification" would only be expected in our output to you when a curator has decided to select an alternative C

[2017-10-04 20:00] wrightmw commented on #25
Hi @sgoehringer

What you are describing here are more similar to affiliation aliases. We prefer IDs to be namespace agnostic, so we would recommend that the AffilationIDs are just numbers.
Using namespace as part of an ID can cause problems further down the line. For instance, within your schema there may be one curation group that submits curations to both the GCI and VCI.

@jimmyzhen Please fee

[2017-10-04 20:21] sgoehringer commented on #25
@wrightmw I totally understand... if we go with straight ID (like 1, 2, 3) then we need to make sure that all of the curation teams are on the same page so same ID isn't shared by multiple affiliations.  We could go with an IRI concept and get ahead of things since this most-likely will hang around for a long time.  Glad to are having the discussions and curious what @jimmyzhen and @tnavatar think

[2017-10-04 20:47] sgoehringer commented on #23
@tnavatar Looping you in on this... how do you think we can handle when a OMIM ID isn't provided because an OMIM ID isn't yet available... thoughts?  I think we will need to explore this for the GCI as well because I've heard they offer a free form input.

[2017-10-04 20:49] jimmyzhen commented on #25
@sgoehringer,

Can you give us an example of the ID with an IRI concept (that you may have in mind)? Thanks.

[2017-10-04 20:55] sgoehringer commented on #25
Sure, it was earlier on the thread but email doesn't show that...  anyway. here you go...

cdwgGene1 = ABC Gene Curation Committee
cdwgVariant1 = ZYX Variant Curation Expert Panel
awgActionability1 = Clinical Actionability
gcwgDosage1 = Dosage Sensitivity

An IRI one... I haven't taken a lot of time to think about it but...
http://www.clinicalgenome.org/affiliation/1
or
http://www.clinicalgenome.o

[2017-10-04 21:28] jimmyzhen commented on #25
@sgoehringer,

Thank you for the clarification.

Would it be potentially problematic if we assign numeric-only IDs, something like 5-digit IDs ranging from 10000-99999?

I can't help but associate strings like "cdwgGene1" with aliases or symbols.

[2017-10-04 21:31] wrightmw commented on #25
I agree with @jimmyzhen
The AffiliationIDs only need to be unique. The simplest implementation would be to use numbers. We can hook other information, such as Group or Lab names, domain area, etc. to the AffiliationID.

[2017-10-04 22:03] tnavatar commented on #25
Numeric is fine, so long as you prefix the numeric ID with your domain (just to make it clear who owns the identifier:

Here’s an example of an OK IRI:
https://www.ncbi.nlm.nih.gov/clinvar/submitters/505720/

[2017-10-05 17:10] ronakypatel commented on #23
Exactly in the way you allow Ovarian Cancer -  RAD51C RAD51D BRIP1 here:

https://www.clinicalgenome.org/working-groups/actionability/projects-initiatives/actionability-evidence-based-summaries/

I think at this moment, for this entry, we have associated OMIM in interface so should be fine.

[2017-10-11 15:51] wrightmw commented on #25
@sgoehringer On the large GCI call today, Jenny Goldstein ( @jennygoldstein ) presented the plans for UNC to develop a curator tracking system.  Within this tracking system Affiliations would have to be specified so that the workflow of working groups could be tracked. Our team also needs AffiliationIDs in place for when we implement Group login for the interfaces, which will be soon because this

[2017-11-03 18:23] ronakypatel opened #26 "Some example JSONs"
Here are couple of examples of autogenerated Actionability data on our development server.

Example 1:

[code]

Example 2:

[code]

[2018-03-27 20:06] bryanwulf opened #27 "Request for information regarding "EvidenceOfSegregationInOneOrMoreFamilies""
In the SOP5 data sample, under "EvidenceOfSegregationInOneOrMoreFamilies":
https://github.com/clingen-data-model/data-exchange-shared-json/blob/master/json-structure-phase1/Gene%20Curation%20Interface/gci-sop-v5.json#L154

it looks like "Evidence" may be separated by family (the numbered keys: "1", "2" and "3").  Is this necessary, or would it suffice to include all the evidence ("Publications"/ar

[2018-03-27 20:27] bryanwulf opened #28 "Request for information regarding "uid""
In the SOP5 sample data, the value of "uid" (under "Publications") is a number:
https://github.com/clingen-data-model/data-exchange-shared-json/blob/master/json-structure-phase1/Gene%20Curation%20Interface/gci-sop-v5.json#L55

The GCI/VCI identify articles by their PMID.  When providing the "uid", should the number be prefixed with "PMID:"?  I think this would be meaningful data and might be usefu

[2018-03-29 17:22] sgoehringer commented on #27
@bryanwulf the result that you shared (https://search.clinicalgenome.org/kb/gene-validity/3221) is is one that was formatted for SOP4.  When I was asked display SOP5 data the team asked to have the different family information to be broken out by family (Example - https://search.clinicalgenome.org/kb/gene-validity/9511)  Is this possible?

[2018-03-29 17:27] sgoehringer commented on #28
@bryanwulf thank you for pointing that out and it is change UID to be PMID so you don't need to prefex anything.  I just updated the sample json with that change https://github.com/clingen-data-model/data-exchange-shared-json/commit/08596403f53be460dd8091f9bc1be0a14f5a7af2
Feel free to close this issue if this looks okay on your side.

[2018-03-29 18:12] bryanwulf commented on #28
Sounds good, will close the issue... thanks!

[2018-03-29 18:12] #28 closed, assigned to sgoehringer, bryanwulf

[2018-04-05 21:42] bryanwulf opened #29 "Sample Message from GCI (#1)"
I'm opening this issue as a place to analyze/discuss a sample classification published from the GCI.  A PDF of the corresponding evidence summary (from the GCI) can be found here:
[GCI_Evidence_Summary_for_Message_0.pdf](https://github.com/clingen-data-model/data-exchange-shared-json/files/1881722/GCI_Evidence_Summary_for_Message_0.pdf)

Message location:
topic: gene_validity_dev
partition: 0
offs

[2018-04-05 22:18] bryanwulf opened #30 "Sample Message from GCI (#2)"
I'm opening this issue as a place to analyze/discuss a sample classification published from the GCI.  A PDF of the corresponding evidence summary (from the GCI) can be found here:
[GCI_Evidence_Summary_for_Message_1.pdf](https://github.com/clingen-data-model/data-exchange-shared-json/files/1881936/GCI_Evidence_Summary_for_Message_1.pdf)

Message location:
topic: gene_validity_dev
partition: 0
offs

[2018-04-06 00:47] bryanwulf commented on #27
@sgoehringer Yes, I believe it's possible and can be seen in the first sample message I published earlier today (#29).

One informational note:
As a result of the GCI's data structure/hierarchy (every family added as unique "child" evidence to articles), there will always be a 1:1 relationship between the numbered keys and "Publications" (1 article per numbered key).  The same family may be added

[2018-04-20 16:01] bryanwulf commented on #29
@sgoehringer @tnavatar Just curious if you've had a chance to examine/process the sample messages on the gene_validity_dev topic?

[2018-04-20 17:42] sgoehringer commented on #29
@bryanwulf thanks for following up!  @tnavatar and I are slated to review items early next week.  I'll keep you posted.

[2018-08-13 19:59] jimmyzhen opened #31 "Add new fields data model for segregation LOD score data in revised SOP"
Given the updated segregation LOD score data shown in the classification matrix, we will need to include the new key/value pairs in the Kafka messages streamed to Data Exchange.

**The new fields are for:**
1. Total count for candidate evidence
2. Total count for exome evidence
3. Sum of all candidate LOD scores
4. Sum of all exome LOD scores
5. Total sum of all LOD scores

[2018-08-13 23:48] cbizon commented on #31
Here's how we do this in the data exchange model, perhaps you will find it useful:
http://dataexchange.clinicalgenome.org/interpretation/entities/FamilyCosegregationStatement.html
http://dataexchange.clinicalgenome.org/interpretation/entities/AggregateCosegregationStatement.html

[2018-08-14 00:00] jimmyzhen commented on #31
Thanks for the pointers, @cbizon!

[2019-02-06 21:33] sgoehringer opened #33 "Please review first draft"
@tnavatar can you review through this draft for JSON that would be basked into the KB site and the marketing site would use to seed information needed to display curation totals for our curation activities and affiliations. I did add a few actives in the JSON that won't be in our KB site but that's just to keep track and maybe set a format.

This is just to get the ideas going and glad to explain

[2019-02-06 21:53] tnavatar commented on #33
That structure seems doable—I think my major concerns are about how things are going to be grouped based on the new affiliation group structure. When were you looking to implement this?

[2019-02-07 00:57] sgoehringer commented on #33
@tnavatar I hope in the next 45 days or so... possible?  Even if all of the data is not in place but to return the affilationID with the # of curations.  I guess the tricky part will be only the number of 'active' ones and not just the total.  I'm not as concerned about the totals for this first pass.  I'm curious on how the current curations in the site though get assigned to the new affiliates..

[2019-10-07 20:25] sgoehringer opened #34 "Update the Gene Disease Express Data with the updated MONDO terms"

[2019-10-07 20:25] sgoehringer opened #35 "Update the Gene Disease Express Data with Affiliate IDs in the same format that the JSON object has documented"

[2019-10-07 20:29] sgoehringer commented on #2
Cleanup

[2019-10-07 20:29] #2 closed, assigned to nobody

[2019-10-07 20:29] sgoehringer commented on #2
Cleanup - Closing old issue.

[2019-10-07 20:29] sgoehringer commented on #3
Cleanup - Closing old issue.

[2019-10-07 20:29] #3 closed, assigned to nobody

[2019-10-07 20:29] sgoehringer commented on #9
Cleanup - Closing old issue.

[2019-10-07 20:29] #9 closed, assigned to tnavatar, sgoehringer

[2019-10-07 20:30] sgoehringer commented on #11
Cleanup - Closing old issue.

[2019-10-07 20:30] #11 closed, assigned to nobody

[2019-10-07 20:30] sgoehringer commented on #13
Cleanup - Closing old issue.

[2019-10-07 20:30] #13 closed, assigned to nobody

[2019-10-07 20:30] sgoehringer commented on #17
Cleanup - Closing old issue.

[2019-10-07 20:30] #17 closed, assigned to nobody

[2019-10-07 20:30] sgoehringer commented on #18
Cleanup - Closing old issue.

[2019-10-07 20:30] #18 closed, assigned to nobody

[2019-10-07 20:30] sgoehringer commented on #20
Cleanup - Closing old issue.

[2019-10-07 20:30] #20 closed, assigned to sgoehringer

[2019-10-07 20:30] sgoehringer commented on #21
Cleanup - Closing old issue.

[2019-10-07 20:30] #21 closed, assigned to nobody

[2019-10-07 20:30] sgoehringer commented on #23
Cleanup - Closing old issue.

[2019-10-07 20:30] #23 closed, assigned to nobody

[2019-10-07 20:30] sgoehringer commented on #25
Cleanup - Closing old issue.

[2019-10-07 20:30] #25 closed, assigned to sgoehringer, wrightmw

[2019-10-07 20:30] sgoehringer commented on #26
Cleanup - Closing old issue.

[2019-10-07 20:30] #26 closed, assigned to nobody

[2019-10-07 20:30] sgoehringer commented on #27
Cleanup - Closing old issue.

[2019-10-07 20:30] #27 closed, assigned to sgoehringer, bryanwulf

[2019-10-07 20:30] sgoehringer commented on #29
Cleanup - Closing old issue.

[2019-10-07 20:30] #29 closed, assigned to nobody

[2019-10-07 20:30] sgoehringer commented on #30
Cleanup - Closing old issue.

[2019-10-07 20:30] #30 closed, assigned to nobody

[2019-10-07 20:31] sgoehringer commented on #31
Cleanup - Closing old issue.

[2019-10-07 20:31] #31 closed, assigned to jimmyzhen

[2019-10-07 20:31] sgoehringer commented on #33
Cleanup - Closing old issue.

[2019-10-07 20:31] #33 closed, assigned to nobody

[2019-10-07 20:32] sgoehringer commented on #33
https://github.com/clingen-data-model/data-exchange-shared-json/issues/35
https://github.com/clingen-data-model/data-exchange-shared-json/issues/34